.border {
    border: 2px solid #ffffff !important;
    border-radius: 4px;
}

#wrapper {
    min-height: 0;
    margin: auto;
}
#header {

    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    z-index: 1000; /* щоб перекривав інші елементи */
}

.navigate {
    height: 100px;
}


.fade-in {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}


body:not(.is-preload) .fade-in {
    opacity: 1;
}


