#wrapper {
    gap: 40px;
    min-height: 50vh;
}

#header {

    position: fixed;
    top: 200px;
    left: 0;
    width: 100%;
    z-index: 1000; /* щоб перекривав інші елементи */
}


body:not(.is-preload) .fade-in {
    opacity: 1;
}


.border {
    border: 2px solid #ffffff !important;
    border-radius: 4px;
}


.navigate {
    height: 100px;
}


.fade-in {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
}


.complete {
    color: #3fc113 !important;
    text-shadow: 0 0 5px #3fc113;
}


.no-completed {
    color: red !important;
    text-shadow: 0 0 5px red;

}
