<ul>
  {% if user.is_authenticated %}
    <li>User: {{ user.get_username }}</li>
    <li>
      <form method="post" action="{% url 'logout' %}?next={{ request.path }}">
        {% csrf_token %}
        <button type="submit">Logout</button>
      </form>
    </li>
  {% else %}
    <li>
      <a href="{% url 'login' %}?next{{ request.path }}">Login</a>
    </li>
  {% endif %}

  <br>

  <li><a href="{% url 'task_manager:index' %}">Home</a></li>
  <li><a href="{% url 'task_manager:task-list' %}">Task ({{ user.position }})</a></li>
  <li><a href="{% url 'task_manager:worker-list' %}">All Workers</a></li>
</ul>
