{% extends "base.html" %}

{% block content %}

  <h1 class="major">Create worker</h1>
  <form method="post" action="" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}

    {% for field in form %}
      <div class="mb-3">
        {{ field.label_tag }}
        {% if field.name == "position" %}
          <div class="d-flex align-items-center">
            {{ field }}
            <a href="{% url 'task_manager:position-create' %}" class="button">➕</a>
          </div>
        {% else %}
          {{ field }}
        {% endif %}
        {% if field.help_text %}
          <small>{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <div class="text-danger">{{ error }}</div>
        {% endfor %}
      </div>
    {% endfor %}

    <div class="d-flex">
      <input class="primary me-4" type="submit" value="Submit">
      <a class="button" href="{% url 'task_manager:worker-list' %}">Cancel</a>
    </div>

  </form>

{% endblock %}
